body
  background-color: black
  color: white

nav.navbar
  background-color: rgba(0, 0, 0, 0.9)
  a
    color: white

.section
  background-size: 100%
  background-repeat: no-repeat
  background-position: 0 0

.section-body
  font-size: 10pt
  padding: 5px
  margin: 10px
  position: relative

.glass-pane
  background-color: rgba(0, 0, 0, 0.3)

#title, #contact
  background-image: url('../public/title.jpeg')
  height: 400px

#about-me
  background-image: url('../public/headshot.jpg')
  .glass-pane
    width: 40%
    margin: 10px
    margin-bottom: 0

#services
  background-image: url('../public/services.jpeg')
  height: 650px
  .glass-pane
    width: 50%
    margin-top: 0
    left: 50%
    top: 60%

#certifications
  background-image: url('../public/certifications.jpg')
  height: 450px
  .glass-pane
    top: 50%

#location
  background-image: url('../public/location.jpeg')
  height: 400px
  .glass-pane
    width: 40%
    position: relative
    top: 55%
    left: 40%

#contact
  .section-body
    top: 65%
    left: 5%

.social
  display: inline-block
  margin: 5px
  img
    width: 29px
    height: 29px
