!!! 5
%html

  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    %script{:src => "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js", :integrity => "sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM", :crossorigin => "anonymous"}

    %link{:href => "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css", :rel => "stylesheet", :integrity => "sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", :crossorigin => "anonymous"}
    %link{:href => "css/application.css", :rel => "stylesheet"}

  %body

    %nav.navbar
      %div.container-fluid.justify-content-center
        %a.navbar-brand.navbar-toggler{:type => "button", :data => {'bs-toggle' => "collapse", 'bs-target' => "#navbarSupportedContent"}, :aria => {:controls => "navbarSupportedContent", :expanded => "false", :label => "Toggle navigation"}}
          %img{:src => 'public/logo.png'}
          Heart Muscle OK
        %div#navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.text-center
            %li.nav-item
              %a.nav-link{:href => '#about-me'} About Me
            %li.nav-item
              %a.nav-link{:href => '#services'} Services
            %li.nav-item
              %a.nav-link{:href => '#certifications'} Certifications
            %li.nav-item
              %a.nav-link{:href => '#location'} Location
            %li.nav-item
              %a.nav-link{:href => '#contact'} Contact

    #main.container-fluid.px-0

      #title.section

      #about-me.section
        .section-body.glass-pane
          %h3 About Me
          My fitness journey started after years of being bullied for being overweight as a teenager.
          It knocked my self-confidence down tremendously.
          I decided to RENEW myself and took action.
          I fell in love with the result and from that point I want to help others to achieve the same result.
          I've been a certified trainer for 5 years.
          I graduated with BS in Kinesiology from East Central University.

      #services.section
        .section-body.glass-pane
          %h3 Services
          %ul
            %li One-on-one
            %li Online
            %li Group training
            %li Meal planning

      #certifications.section
        .section-body.glass-pane
          %h3.text-center Certifications
          .row
            .col-6
              %ul
                %li BS Kinesiology
                %li NFPT - CPT
                %li BLS - CPR/AED
            .col-6
              %ul
                %li FNS (Fitness Nutrition Specialist)
                %li FTS (Functional training Specialist)

      #location.section
        .section-body.glass-pane
          %h3 Location
          %p
            2820 NW 122nd St
            Oklahoma City 73120

      #contact.section
        .section-body
          %h3 Contact
          %a{:href => 'mailto:reinaldi@heartmuscleok.com'} reinaldi@heartmuscleok.com
          #social-links
            .social
              %a#facebook{:href => 'facebook.com', :target => :blank}
                %img{:src => 'public/facebook.png'}
            .social
              %a#instagram.social{:href => 'https://www.instagram.com/reinaldilifts/', :target => :blank}
                %img{:src => 'public/instagram.webp'}
